@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');

/*-- VARIABLES CSS--*/
/*Colores*/
:root{
    --first-color: #E3F8FF;
    --second-color: #DCFAFB;
    --third-color: #FFE8DF;
    --accent-color: #FF5151;
    --dark-color: #161616;
    --bg--color:rgb(245, 245, 245);
}

/*Tipografia responsive*/
:root{
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}

*,::after,::before{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}


/*-- COMPONENT --*/
.articles-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 100%;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
}


.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
    color: var(--dark-color);
    font-family: var(--body-font);
    background-color: var(--bg--color);
}

.card-img{
    width: 11.25rem;
    height: auto;
    padding: 1rem 0;
    transition: .5s;
}

.card-img img{
    border-radius: 3rem;
}

.card-name{
    position: absolute;
    left: -25%;
    top: 0;
    width: 3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: var(--dark-color);
    color: #fff;
    font-weight: bold;
    transition: .5s;
    padding-right: 1rem;
}
.card-icon{
    font-size: 1.5rem;
    color: var(--dark-color);
}
.card-icon:hover{
    color: var(--accent-color);
}
.card-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
}
.card-price{
    display: block;
    text-align: center;
    position: relative;
    font-size: var(--h3-font-size);
    font-weight: bold;
    font-family: "Mingzat", sans-serif;
}

.card-price::before{
    content: '$';
}

/*Move left*/
.card:hover{
    box-shadow: 0 .5rem 1rem #D1D9E6;
}
.card:hover .card-name{
    left: 0;
}
.card:hover .card-img{
    /* transform: rotate(30deg); */
    margin-left: 3.5rem;
}
.card:hover .card-buttons{
    margin-left: 3.5rem;
    padding: 0 1.2rem;
}

.lower{
    text-transform: uppercase;
}

/* -- MEDIA QUERIES --*/
@media (max-width: 700px) {
    

    .card {
      font-size: 10px;    
    }

    .card-img{
        width: 120px;
    }
    
    .articles-grid{
        grid-template-columns: 1fr 1fr;
    }

    .card-name{
        width: 2rem;
        padding-right: 0.6rem;
    }

    .card-price{
        font-size: 0.8rem;
    }

    .card:hover .card-img{
        /* transform: rotate(30deg); */
        margin-left: 2rem;
    }
    .card:hover .card-buttons{
        margin-left: 2rem;
        padding: 0 1.5rem;
    }
  }
  
  @media (max-width: 500px) {
    .articles-grid{
        grid-template-columns: 1fr;
    }
}